/*! modern-normalize | MIT License | https://github.com/sindresorhus/modern-normalize */
/* Document
   ========================================================================== */
/**
 * Use a better box model (opinionated).
 */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
/**
 * Use a more readable tab size (opinionated).
 */
:root {
  -moz-tab-size: 4;
  tab-size: 4;
}
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
  font-size: 14px;
}
/**
 * Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
 */
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}
/* Grouping content
   ========================================================================== */
/**
 * Add the correct height in Firefox.
 */
hr {
  height: 0;
}
/* Text-level semantics
   ========================================================================== */
/**
 * Add the correct text decoration in Chrome, Edge, and Safari.
 */
abbr[title] {
  text-decoration: underline dotted;
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}
/**
 * 1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp,
pre {
  font-family: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}
/**
 * Remove the inheritance of text transform in Edge and Firefox.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}
/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
/**
 * Remove the padding so developers are not caught out when they zero out `fieldset` elements in all browsers.
 */
legend {
  padding: 0;
}
/**
 * Add the correct vertical alignment in Chrome and Firefox.
 */
progress {
  vertical-align: baseline;
}
/**
 * Correct the cursor style of increment and decrement buttons in Safari.
 */
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}
/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}
/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Chrome and Safari.
 */
summary {
  display: list-item;
}
/* a11y-dark theme */
/* Based on the Tomorrow Night Eighties theme: https://github.com/isagalaev/highlight.js/blob/master/src/styles/tomorrow-night-eighties.css */
/* @author: ericwbailey */
/* Comment */
.hljs-comment,
.hljs-quote {
  color: #d4d0ab;
}
/* Red */
.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-deletion {
  color: #ffa07a;
}
/* Orange */
.hljs-number,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-meta,
.hljs-link {
  color: #f5ab35;
}
/* Yellow */
.hljs-attribute {
  color: #ffd700;
}
/* Green */
.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition {
  color: #abe338;
}
/* Blue */
.hljs-title,
.hljs-section {
  color: #00e0e0;
}
/* Purple */
.hljs-keyword,
.hljs-selector-tag {
  color: #dcc6e0;
}
.hljs {
  display: block;
  overflow-x: auto;
  background: #2b2b2b;
  color: #f8f8f2;
  padding: 0.5em;
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-strong {
  font-weight: bold;
}
@media screen and (-ms-high-contrast: active) {
  .hljs-addition,
  .hljs-attribute,
  .hljs-built_in,
  .hljs-builtin-name,
  .hljs-bullet,
  .hljs-comment,
  .hljs-link,
  .hljs-literal,
  .hljs-meta,
  .hljs-number,
  .hljs-params,
  .hljs-string,
  .hljs-symbol,
  .hljs-type,
  .hljs-quote {
    color: highlight;
  }
  .hljs-keyword,
  .hljs-selector-tag {
    font-weight: bold;
  }
}
@font-face {
  font-family: KaTeX_AMS;
  src: url(fonts/KaTeX_AMS-Regular.eot);
  src: url(fonts/KaTeX_AMS-Regular.eot#iefix) format('embedded-opentype'), url(fonts/KaTeX_AMS-Regular.woff2) format('woff2'), url(fonts/KaTeX_AMS-Regular.woff) format('woff'), url(fonts/KaTeX_AMS-Regular.ttf) format('ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: KaTeX_Caligraphic;
  src: url(fonts/KaTeX_Caligraphic-Bold.eot);
  src: url(fonts/KaTeX_Caligraphic-Bold.eot#iefix) format('embedded-opentype'), url(fonts/KaTeX_Caligraphic-Bold.woff2) format('woff2'), url(fonts/KaTeX_Caligraphic-Bold.woff) format('woff'), url(fonts/KaTeX_Caligraphic-Bold.ttf) format('ttf');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: KaTeX_Caligraphic;
  src: url(fonts/KaTeX_Caligraphic-Regular.eot);
  src: url(fonts/KaTeX_Caligraphic-Regular.eot#iefix) format('embedded-opentype'), url(fonts/KaTeX_Caligraphic-Regular.woff2) format('woff2'), url(fonts/KaTeX_Caligraphic-Regular.woff) format('woff'), url(fonts/KaTeX_Caligraphic-Regular.ttf) format('ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: KaTeX_Fraktur;
  src: url(fonts/KaTeX_Fraktur-Bold.eot);
  src: url(fonts/KaTeX_Fraktur-Bold.eot#iefix) format('embedded-opentype'), url(fonts/KaTeX_Fraktur-Bold.woff2) format('woff2'), url(fonts/KaTeX_Fraktur-Bold.woff) format('woff'), url(fonts/KaTeX_Fraktur-Bold.ttf) format('ttf');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: KaTeX_Fraktur;
  src: url(fonts/KaTeX_Fraktur-Regular.eot);
  src: url(fonts/KaTeX_Fraktur-Regular.eot#iefix) format('embedded-opentype'), url(fonts/KaTeX_Fraktur-Regular.woff2) format('woff2'), url(fonts/KaTeX_Fraktur-Regular.woff) format('woff'), url(fonts/KaTeX_Fraktur-Regular.ttf) format('ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: KaTeX_Main;
  src: url(fonts/KaTeX_Main-Bold.eot);
  src: url(fonts/KaTeX_Main-Bold.eot#iefix) format('embedded-opentype'), url(fonts/KaTeX_Main-Bold.woff2) format('woff2'), url(fonts/KaTeX_Main-Bold.woff) format('woff'), url(fonts/KaTeX_Main-Bold.ttf) format('ttf');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: KaTeX_Main;
  src: url(fonts/KaTeX_Main-Italic.eot);
  src: url(fonts/KaTeX_Main-Italic.eot#iefix) format('embedded-opentype'), url(fonts/KaTeX_Main-Italic.woff2) format('woff2'), url(fonts/KaTeX_Main-Italic.woff) format('woff'), url(fonts/KaTeX_Main-Italic.ttf) format('ttf');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: KaTeX_Main;
  src: url(fonts/KaTeX_Main-Regular.eot);
  src: url(fonts/KaTeX_Main-Regular.eot#iefix) format('embedded-opentype'), url(fonts/KaTeX_Main-Regular.woff2) format('woff2'), url(fonts/KaTeX_Main-Regular.woff) format('woff'), url(fonts/KaTeX_Main-Regular.ttf) format('ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: KaTeX_Math;
  src: url(fonts/KaTeX_Math-Italic.eot);
  src: url(fonts/KaTeX_Math-Italic.eot#iefix) format('embedded-opentype'), url(fonts/KaTeX_Math-Italic.woff2) format('woff2'), url(fonts/KaTeX_Math-Italic.woff) format('woff'), url(fonts/KaTeX_Math-Italic.ttf) format('ttf');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: KaTeX_SansSerif;
  src: url(fonts/KaTeX_SansSerif-Regular.eot);
  src: url(fonts/KaTeX_SansSerif-Regular.eot#iefix) format('embedded-opentype'), url(fonts/KaTeX_SansSerif-Regular.woff2) format('woff2'), url(fonts/KaTeX_SansSerif-Regular.woff) format('woff'), url(fonts/KaTeX_SansSerif-Regular.ttf) format('ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: KaTeX_Script;
  src: url(fonts/KaTeX_Script-Regular.eot);
  src: url(fonts/KaTeX_Script-Regular.eot#iefix) format('embedded-opentype'), url(fonts/KaTeX_Script-Regular.woff2) format('woff2'), url(fonts/KaTeX_Script-Regular.woff) format('woff'), url(fonts/KaTeX_Script-Regular.ttf) format('ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: KaTeX_Size1;
  src: url(fonts/KaTeX_Size1-Regular.eot);
  src: url(fonts/KaTeX_Size1-Regular.eot#iefix) format('embedded-opentype'), url(fonts/KaTeX_Size1-Regular.woff2) format('woff2'), url(fonts/KaTeX_Size1-Regular.woff) format('woff'), url(fonts/KaTeX_Size1-Regular.ttf) format('ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: KaTeX_Size2;
  src: url(fonts/KaTeX_Size2-Regular.eot);
  src: url(fonts/KaTeX_Size2-Regular.eot#iefix) format('embedded-opentype'), url(fonts/KaTeX_Size2-Regular.woff2) format('woff2'), url(fonts/KaTeX_Size2-Regular.woff) format('woff'), url(fonts/KaTeX_Size2-Regular.ttf) format('ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: KaTeX_Size3;
  src: url(fonts/KaTeX_Size3-Regular.eot);
  src: url(fonts/KaTeX_Size3-Regular.eot#iefix) format('embedded-opentype'), url(fonts/KaTeX_Size3-Regular.woff2) format('woff2'), url(fonts/KaTeX_Size3-Regular.woff) format('woff'), url(fonts/KaTeX_Size3-Regular.ttf) format('ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: KaTeX_Size4;
  src: url(fonts/KaTeX_Size4-Regular.eot);
  src: url(fonts/KaTeX_Size4-Regular.eot#iefix) format('embedded-opentype'), url(fonts/KaTeX_Size4-Regular.woff2) format('woff2'), url(fonts/KaTeX_Size4-Regular.woff) format('woff'), url(fonts/KaTeX_Size4-Regular.ttf) format('ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: KaTeX_Typewriter;
  src: url(fonts/KaTeX_Typewriter-Regular.eot);
  src: url(fonts/KaTeX_Typewriter-Regular.eot#iefix) format('embedded-opentype'), url(fonts/KaTeX_Typewriter-Regular.woff2) format('woff2'), url(fonts/KaTeX_Typewriter-Regular.woff) format('woff'), url(fonts/KaTeX_Typewriter-Regular.ttf) format('ttf');
  font-weight: 400;
  font-style: normal;
}
.katex-display {
  display: block;
  margin: 1em 0;
  text-align: center;
}
.katex-display > .katex {
  display: inline-block;
}
.katex {
  font: 400 1.21em KaTeX_Main;
  line-height: 1.2;
  white-space: nowrap;
  text-indent: 0;
}
.katex .katex-html {
  display: inline-block;
}
.katex .katex-mathml {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
.katex .base,
.katex .strut {
  display: inline-block;
}
.katex .mathit {
  font-family: KaTeX_Math;
  font-style: italic;
}
.katex .mathbf {
  font-family: KaTeX_Main;
  font-weight: 700;
}
.katex .amsrm,
.katex .mathbb {
  font-family: KaTeX_AMS;
}
.katex .mathcal {
  font-family: KaTeX_Caligraphic;
}
.katex .mathfrak {
  font-family: KaTeX_Fraktur;
}
.katex .mathtt {
  font-family: KaTeX_Typewriter;
}
.katex .mathscr {
  font-family: KaTeX_Script;
}
.katex .mathsf {
  font-family: KaTeX_SansSerif;
}
.katex .mainit {
  font-family: KaTeX_Main;
  font-style: italic;
}
.katex .textstyle > .mord + .mop {
  margin-left: 0.16667em;
}
.katex .textstyle > .mord + .mbin {
  margin-left: 0.22222em;
}
.katex .textstyle > .mord + .mrel {
  margin-left: 0.27778em;
}
.katex .textstyle > .mop + .mop,
.katex .textstyle > .mop + .mord,
.katex .textstyle > .mord + .minner {
  margin-left: 0.16667em;
}
.katex .textstyle > .mop + .mrel {
  margin-left: 0.27778em;
}
.katex .textstyle > .mop + .minner {
  margin-left: 0.16667em;
}
.katex .textstyle > .mbin + .minner,
.katex .textstyle > .mbin + .mop,
.katex .textstyle > .mbin + .mopen,
.katex .textstyle > .mbin + .mord {
  margin-left: 0.22222em;
}
.katex .textstyle > .mrel + .minner,
.katex .textstyle > .mrel + .mop,
.katex .textstyle > .mrel + .mopen,
.katex .textstyle > .mrel + .mord {
  margin-left: 0.27778em;
}
.katex .textstyle > .mclose + .mop {
  margin-left: 0.16667em;
}
.katex .textstyle > .mclose + .mbin {
  margin-left: 0.22222em;
}
.katex .textstyle > .mclose + .mrel {
  margin-left: 0.27778em;
}
.katex .textstyle > .mclose + .minner,
.katex .textstyle > .minner + .mop,
.katex .textstyle > .minner + .mord,
.katex .textstyle > .mpunct + .mclose,
.katex .textstyle > .mpunct + .minner,
.katex .textstyle > .mpunct + .mop,
.katex .textstyle > .mpunct + .mopen,
.katex .textstyle > .mpunct + .mord,
.katex .textstyle > .mpunct + .mpunct,
.katex .textstyle > .mpunct + .mrel {
  margin-left: 0.16667em;
}
.katex .textstyle > .minner + .mbin {
  margin-left: 0.22222em;
}
.katex .textstyle > .minner + .mrel {
  margin-left: 0.27778em;
}
.katex .mclose + .mop,
.katex .minner + .mop,
.katex .mop + .mop,
.katex .mop + .mord,
.katex .mord + .mop,
.katex .textstyle > .minner + .minner,
.katex .textstyle > .minner + .mopen,
.katex .textstyle > .minner + .mpunct {
  margin-left: 0.16667em;
}
.katex .reset-textstyle.textstyle {
  font-size: 1em;
}
.katex .reset-textstyle.scriptstyle {
  font-size: 0.7em;
}
.katex .reset-textstyle.scriptscriptstyle {
  font-size: 0.5em;
}
.katex .reset-scriptstyle.textstyle {
  font-size: 1.42857em;
}
.katex .reset-scriptstyle.scriptstyle {
  font-size: 1em;
}
.katex .reset-scriptstyle.scriptscriptstyle {
  font-size: 0.71429em;
}
.katex .reset-scriptscriptstyle.textstyle {
  font-size: 2em;
}
.katex .reset-scriptscriptstyle.scriptstyle {
  font-size: 1.4em;
}
.katex .reset-scriptscriptstyle.scriptscriptstyle {
  font-size: 1em;
}
.katex .style-wrap {
  position: relative;
}
.katex .vlist {
  display: inline-block;
}
.katex .vlist > span {
  display: block;
  height: 0;
  position: relative;
}
.katex .vlist > span > span {
  display: inline-block;
}
.katex .vlist .baseline-fix {
  display: inline-table;
  table-layout: fixed;
}
.katex .msupsub {
  text-align: left;
}
.katex .mfrac > span > span {
  text-align: center;
}
.katex .mfrac .frac-line {
  width: 100%;
}
.katex .mfrac .frac-line:before {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  content: "";
  display: block;
}
.katex .mfrac .frac-line:after {
  border-bottom-style: solid;
  border-bottom-width: 0.04em;
  content: "";
  display: block;
  margin-top: -1px;
}
.katex .mspace {
  display: inline-block;
}
.katex .mspace.negativethinspace {
  margin-left: -0.16667em;
}
.katex .mspace.thinspace {
  width: 0.16667em;
}
.katex .mspace.mediumspace {
  width: 0.22222em;
}
.katex .mspace.thickspace {
  width: 0.27778em;
}
.katex .mspace.enspace {
  width: 0.5em;
}
.katex .mspace.quad {
  width: 1em;
}
.katex .mspace.qquad {
  width: 2em;
}
.katex .llap,
.katex .rlap {
  width: 0;
  position: relative;
}
.katex .llap > .inner,
.katex .rlap > .inner {
  position: absolute;
}
.katex .llap > .fix,
.katex .rlap > .fix {
  display: inline-block;
}
.katex .llap > .inner {
  right: 0;
}
.katex .rlap > .inner {
  left: 0;
}
.katex .katex-logo .a {
  font-size: 0.75em;
  margin-left: -0.32em;
  position: relative;
  top: -0.2em;
}
.katex .katex-logo .t {
  margin-left: -0.23em;
}
.katex .katex-logo .e {
  margin-left: -0.1667em;
  position: relative;
  top: 0.2155em;
}
.katex .katex-logo .x {
  margin-left: -0.125em;
}
.katex .rule {
  display: inline-block;
  border-style: solid;
  position: relative;
}
.katex .overline .overline-line {
  width: 100%;
}
.katex .overline .overline-line:before {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  content: "";
  display: block;
}
.katex .overline .overline-line:after {
  border-bottom-style: solid;
  border-bottom-width: 0.04em;
  content: "";
  display: block;
  margin-top: -1px;
}
.katex .sqrt > .sqrt-sign {
  position: relative;
}
.katex .sqrt .sqrt-line {
  width: 100%;
}
.katex .sqrt .sqrt-line:before {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  content: "";
  display: block;
}
.katex .sqrt .sqrt-line:after {
  border-bottom-style: solid;
  border-bottom-width: 0.04em;
  content: "";
  display: block;
  margin-top: -1px;
}
.katex .sqrt > .root {
  margin-left: 0.27777778em;
  margin-right: -0.55555556em;
}
.katex .fontsize-ensurer,
.katex .sizing {
  display: inline-block;
}
.katex .fontsize-ensurer.reset-size1.size1,
.katex .sizing.reset-size1.size1 {
  font-size: 1em;
}
.katex .fontsize-ensurer.reset-size1.size2,
.katex .sizing.reset-size1.size2 {
  font-size: 1.4em;
}
.katex .fontsize-ensurer.reset-size1.size3,
.katex .sizing.reset-size1.size3 {
  font-size: 1.6em;
}
.katex .fontsize-ensurer.reset-size1.size4,
.katex .sizing.reset-size1.size4 {
  font-size: 1.8em;
}
.katex .fontsize-ensurer.reset-size1.size5,
.katex .sizing.reset-size1.size5 {
  font-size: 2em;
}
.katex .fontsize-ensurer.reset-size1.size6,
.katex .sizing.reset-size1.size6 {
  font-size: 2.4em;
}
.katex .fontsize-ensurer.reset-size1.size7,
.katex .sizing.reset-size1.size7 {
  font-size: 2.88em;
}
.katex .fontsize-ensurer.reset-size1.size8,
.katex .sizing.reset-size1.size8 {
  font-size: 3.46em;
}
.katex .fontsize-ensurer.reset-size1.size9,
.katex .sizing.reset-size1.size9 {
  font-size: 4.14em;
}
.katex .fontsize-ensurer.reset-size1.size10,
.katex .sizing.reset-size1.size10 {
  font-size: 4.98em;
}
.katex .fontsize-ensurer.reset-size2.size1,
.katex .sizing.reset-size2.size1 {
  font-size: 0.71428571em;
}
.katex .fontsize-ensurer.reset-size2.size2,
.katex .sizing.reset-size2.size2 {
  font-size: 1em;
}
.katex .fontsize-ensurer.reset-size2.size3,
.katex .sizing.reset-size2.size3 {
  font-size: 1.14285714em;
}
.katex .fontsize-ensurer.reset-size2.size4,
.katex .sizing.reset-size2.size4 {
  font-size: 1.28571429em;
}
.katex .fontsize-ensurer.reset-size2.size5,
.katex .sizing.reset-size2.size5 {
  font-size: 1.42857143em;
}
.katex .fontsize-ensurer.reset-size2.size6,
.katex .sizing.reset-size2.size6 {
  font-size: 1.71428571em;
}
.katex .fontsize-ensurer.reset-size2.size7,
.katex .sizing.reset-size2.size7 {
  font-size: 2.05714286em;
}
.katex .fontsize-ensurer.reset-size2.size8,
.katex .sizing.reset-size2.size8 {
  font-size: 2.47142857em;
}
.katex .fontsize-ensurer.reset-size2.size9,
.katex .sizing.reset-size2.size9 {
  font-size: 2.95714286em;
}
.katex .fontsize-ensurer.reset-size2.size10,
.katex .sizing.reset-size2.size10 {
  font-size: 3.55714286em;
}
.katex .fontsize-ensurer.reset-size3.size1,
.katex .sizing.reset-size3.size1 {
  font-size: 0.625em;
}
.katex .fontsize-ensurer.reset-size3.size2,
.katex .sizing.reset-size3.size2 {
  font-size: 0.875em;
}
.katex .fontsize-ensurer.reset-size3.size3,
.katex .sizing.reset-size3.size3 {
  font-size: 1em;
}
.katex .fontsize-ensurer.reset-size3.size4,
.katex .sizing.reset-size3.size4 {
  font-size: 1.125em;
}
.katex .fontsize-ensurer.reset-size3.size5,
.katex .sizing.reset-size3.size5 {
  font-size: 1.25em;
}
.katex .fontsize-ensurer.reset-size3.size6,
.katex .sizing.reset-size3.size6 {
  font-size: 1.5em;
}
.katex .fontsize-ensurer.reset-size3.size7,
.katex .sizing.reset-size3.size7 {
  font-size: 1.8em;
}
.katex .fontsize-ensurer.reset-size3.size8,
.katex .sizing.reset-size3.size8 {
  font-size: 2.1625em;
}
.katex .fontsize-ensurer.reset-size3.size9,
.katex .sizing.reset-size3.size9 {
  font-size: 2.5875em;
}
.katex .fontsize-ensurer.reset-size3.size10,
.katex .sizing.reset-size3.size10 {
  font-size: 3.1125em;
}
.katex .fontsize-ensurer.reset-size4.size1,
.katex .sizing.reset-size4.size1 {
  font-size: 0.55555556em;
}
.katex .fontsize-ensurer.reset-size4.size2,
.katex .sizing.reset-size4.size2 {
  font-size: 0.77777778em;
}
.katex .fontsize-ensurer.reset-size4.size3,
.katex .sizing.reset-size4.size3 {
  font-size: 0.88888889em;
}
.katex .fontsize-ensurer.reset-size4.size4,
.katex .sizing.reset-size4.size4 {
  font-size: 1em;
}
.katex .fontsize-ensurer.reset-size4.size5,
.katex .sizing.reset-size4.size5 {
  font-size: 1.11111111em;
}
.katex .fontsize-ensurer.reset-size4.size6,
.katex .sizing.reset-size4.size6 {
  font-size: 1.33333333em;
}
.katex .fontsize-ensurer.reset-size4.size7,
.katex .sizing.reset-size4.size7 {
  font-size: 1.6em;
}
.katex .fontsize-ensurer.reset-size4.size8,
.katex .sizing.reset-size4.size8 {
  font-size: 1.92222222em;
}
.katex .fontsize-ensurer.reset-size4.size9,
.katex .sizing.reset-size4.size9 {
  font-size: 2.3em;
}
.katex .fontsize-ensurer.reset-size4.size10,
.katex .sizing.reset-size4.size10 {
  font-size: 2.76666667em;
}
.katex .fontsize-ensurer.reset-size5.size1,
.katex .sizing.reset-size5.size1 {
  font-size: 0.5em;
}
.katex .fontsize-ensurer.reset-size5.size2,
.katex .sizing.reset-size5.size2 {
  font-size: 0.7em;
}
.katex .fontsize-ensurer.reset-size5.size3,
.katex .sizing.reset-size5.size3 {
  font-size: 0.8em;
}
.katex .fontsize-ensurer.reset-size5.size4,
.katex .sizing.reset-size5.size4 {
  font-size: 0.9em;
}
.katex .fontsize-ensurer.reset-size5.size5,
.katex .sizing.reset-size5.size5 {
  font-size: 1em;
}
.katex .fontsize-ensurer.reset-size5.size6,
.katex .sizing.reset-size5.size6 {
  font-size: 1.2em;
}
.katex .fontsize-ensurer.reset-size5.size7,
.katex .sizing.reset-size5.size7 {
  font-size: 1.44em;
}
.katex .fontsize-ensurer.reset-size5.size8,
.katex .sizing.reset-size5.size8 {
  font-size: 1.73em;
}
.katex .fontsize-ensurer.reset-size5.size9,
.katex .sizing.reset-size5.size9 {
  font-size: 2.07em;
}
.katex .fontsize-ensurer.reset-size5.size10,
.katex .sizing.reset-size5.size10 {
  font-size: 2.49em;
}
.katex .fontsize-ensurer.reset-size6.size1,
.katex .sizing.reset-size6.size1 {
  font-size: 0.41666667em;
}
.katex .fontsize-ensurer.reset-size6.size2,
.katex .sizing.reset-size6.size2 {
  font-size: 0.58333333em;
}
.katex .fontsize-ensurer.reset-size6.size3,
.katex .sizing.reset-size6.size3 {
  font-size: 0.66666667em;
}
.katex .fontsize-ensurer.reset-size6.size4,
.katex .sizing.reset-size6.size4 {
  font-size: 0.75em;
}
.katex .fontsize-ensurer.reset-size6.size5,
.katex .sizing.reset-size6.size5 {
  font-size: 0.83333333em;
}
.katex .fontsize-ensurer.reset-size6.size6,
.katex .sizing.reset-size6.size6 {
  font-size: 1em;
}
.katex .fontsize-ensurer.reset-size6.size7,
.katex .sizing.reset-size6.size7 {
  font-size: 1.2em;
}
.katex .fontsize-ensurer.reset-size6.size8,
.katex .sizing.reset-size6.size8 {
  font-size: 1.44166667em;
}
.katex .fontsize-ensurer.reset-size6.size9,
.katex .sizing.reset-size6.size9 {
  font-size: 1.725em;
}
.katex .fontsize-ensurer.reset-size6.size10,
.katex .sizing.reset-size6.size10 {
  font-size: 2.075em;
}
.katex .fontsize-ensurer.reset-size7.size1,
.katex .sizing.reset-size7.size1 {
  font-size: 0.34722222em;
}
.katex .fontsize-ensurer.reset-size7.size2,
.katex .sizing.reset-size7.size2 {
  font-size: 0.48611111em;
}
.katex .fontsize-ensurer.reset-size7.size3,
.katex .sizing.reset-size7.size3 {
  font-size: 0.55555556em;
}
.katex .fontsize-ensurer.reset-size7.size4,
.katex .sizing.reset-size7.size4 {
  font-size: 0.625em;
}
.katex .fontsize-ensurer.reset-size7.size5,
.katex .sizing.reset-size7.size5 {
  font-size: 0.69444444em;
}
.katex .fontsize-ensurer.reset-size7.size6,
.katex .sizing.reset-size7.size6 {
  font-size: 0.83333333em;
}
.katex .fontsize-ensurer.reset-size7.size7,
.katex .sizing.reset-size7.size7 {
  font-size: 1em;
}
.katex .fontsize-ensurer.reset-size7.size8,
.katex .sizing.reset-size7.size8 {
  font-size: 1.20138889em;
}
.katex .fontsize-ensurer.reset-size7.size9,
.katex .sizing.reset-size7.size9 {
  font-size: 1.4375em;
}
.katex .fontsize-ensurer.reset-size7.size10,
.katex .sizing.reset-size7.size10 {
  font-size: 1.72916667em;
}
.katex .fontsize-ensurer.reset-size8.size1,
.katex .sizing.reset-size8.size1 {
  font-size: 0.28901734em;
}
.katex .fontsize-ensurer.reset-size8.size2,
.katex .sizing.reset-size8.size2 {
  font-size: 0.40462428em;
}
.katex .fontsize-ensurer.reset-size8.size3,
.katex .sizing.reset-size8.size3 {
  font-size: 0.46242775em;
}
.katex .fontsize-ensurer.reset-size8.size4,
.katex .sizing.reset-size8.size4 {
  font-size: 0.52023121em;
}
.katex .fontsize-ensurer.reset-size8.size5,
.katex .sizing.reset-size8.size5 {
  font-size: 0.57803468em;
}
.katex .fontsize-ensurer.reset-size8.size6,
.katex .sizing.reset-size8.size6 {
  font-size: 0.69364162em;
}
.katex .fontsize-ensurer.reset-size8.size7,
.katex .sizing.reset-size8.size7 {
  font-size: 0.83236994em;
}
.katex .fontsize-ensurer.reset-size8.size8,
.katex .sizing.reset-size8.size8 {
  font-size: 1em;
}
.katex .fontsize-ensurer.reset-size8.size9,
.katex .sizing.reset-size8.size9 {
  font-size: 1.19653179em;
}
.katex .fontsize-ensurer.reset-size8.size10,
.katex .sizing.reset-size8.size10 {
  font-size: 1.43930636em;
}
.katex .fontsize-ensurer.reset-size9.size1,
.katex .sizing.reset-size9.size1 {
  font-size: 0.24154589em;
}
.katex .fontsize-ensurer.reset-size9.size2,
.katex .sizing.reset-size9.size2 {
  font-size: 0.33816425em;
}
.katex .fontsize-ensurer.reset-size9.size3,
.katex .sizing.reset-size9.size3 {
  font-size: 0.38647343em;
}
.katex .fontsize-ensurer.reset-size9.size4,
.katex .sizing.reset-size9.size4 {
  font-size: 0.43478261em;
}
.katex .fontsize-ensurer.reset-size9.size5,
.katex .sizing.reset-size9.size5 {
  font-size: 0.48309179em;
}
.katex .fontsize-ensurer.reset-size9.size6,
.katex .sizing.reset-size9.size6 {
  font-size: 0.57971014em;
}
.katex .fontsize-ensurer.reset-size9.size7,
.katex .sizing.reset-size9.size7 {
  font-size: 0.69565217em;
}
.katex .fontsize-ensurer.reset-size9.size8,
.katex .sizing.reset-size9.size8 {
  font-size: 0.83574879em;
}
.katex .fontsize-ensurer.reset-size9.size9,
.katex .sizing.reset-size9.size9 {
  font-size: 1em;
}
.katex .fontsize-ensurer.reset-size9.size10,
.katex .sizing.reset-size9.size10 {
  font-size: 1.20289855em;
}
.katex .fontsize-ensurer.reset-size10.size1,
.katex .sizing.reset-size10.size1 {
  font-size: 0.20080321em;
}
.katex .fontsize-ensurer.reset-size10.size2,
.katex .sizing.reset-size10.size2 {
  font-size: 0.2811245em;
}
.katex .fontsize-ensurer.reset-size10.size3,
.katex .sizing.reset-size10.size3 {
  font-size: 0.32128514em;
}
.katex .fontsize-ensurer.reset-size10.size4,
.katex .sizing.reset-size10.size4 {
  font-size: 0.36144578em;
}
.katex .fontsize-ensurer.reset-size10.size5,
.katex .sizing.reset-size10.size5 {
  font-size: 0.40160643em;
}
.katex .fontsize-ensurer.reset-size10.size6,
.katex .sizing.reset-size10.size6 {
  font-size: 0.48192771em;
}
.katex .fontsize-ensurer.reset-size10.size7,
.katex .sizing.reset-size10.size7 {
  font-size: 0.57831325em;
}
.katex .fontsize-ensurer.reset-size10.size8,
.katex .sizing.reset-size10.size8 {
  font-size: 0.69477912em;
}
.katex .fontsize-ensurer.reset-size10.size9,
.katex .sizing.reset-size10.size9 {
  font-size: 0.8313253em;
}
.katex .fontsize-ensurer.reset-size10.size10,
.katex .sizing.reset-size10.size10 {
  font-size: 1em;
}
.katex .delimsizing.size1 {
  font-family: KaTeX_Size1;
}
.katex .delimsizing.size2 {
  font-family: KaTeX_Size2;
}
.katex .delimsizing.size3 {
  font-family: KaTeX_Size3;
}
.katex .delimsizing.size4 {
  font-family: KaTeX_Size4;
}
.katex .delimsizing.mult .delim-size1 > span {
  font-family: KaTeX_Size1;
}
.katex .delimsizing.mult .delim-size4 > span {
  font-family: KaTeX_Size4;
}
.katex .nulldelimiter {
  display: inline-block;
  width: 0.12em;
}
.katex .op-symbol {
  position: relative;
}
.katex .op-symbol.small-op {
  font-family: KaTeX_Size1;
}
.katex .op-symbol.large-op {
  font-family: KaTeX_Size2;
}
.katex .accent > .vlist > span,
.katex .op-limits > .vlist > span {
  text-align: center;
}
.katex .accent .accent-body > span {
  width: 0;
}
.katex .accent .accent-body.accent-vec > span {
  position: relative;
  left: 0.326em;
}
.katex .mtable .vertical-separator {
  display: inline-block;
  margin: 0 -0.025em;
  border-right: 0.05em solid #000;
}
.katex .mtable .arraycolsep {
  display: inline-block;
}
.katex .mtable .col-align-c > .vlist {
  text-align: center;
}
.katex .mtable .col-align-l > .vlist {
  text-align: left;
}
.katex .mtable .col-align-r > .vlist {
  text-align: right;
}
.icons {
  padding: 15px;
}
.icons ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icons li {
  list-style: none;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 1px solid #333;
  margin: 0 5px;
  text-align: center;
}
.icons li img {
  width: 100%;
  padding: 3px;
  transition: all 0.5s;
}
.icons li:hover img {
  padding: 0;
}
body::-webkit-scrollbar {
  width: 6.6px;
  background: transpaint;
}
body::-webkit-scrollbar-track-piece {
  border-radius: 5px;
}
body::-webkit-scrollbar-thumb {
  width: 3px;
  background: #34314f;
  border-radius: 3px;
}
/*手机*/
footer {
  color: #e8e8e8;
  font-size: 10px;
  text-align: center;
  padding: 48px 16px 16px 16px;
  background-color: #010101;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg fill-opacity='0.43'%3E%3Cpath fill='%23101010' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%231a1a1a' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%23232323' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%232c2c2c' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%23363636' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%233a3a3a' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%233f3f3f' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%23444343' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%23484848' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%234d4c4c' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  border-top-right-radius: 5px;
}
footer p {
  margin: 7px;
}
footer p a {
  color: #eaf5ff;
  margin-left: 3px;
}
footer {
  display: none;
}
/*字体ICON*/
@font-face {
  font-family: 'iconfont';
  src: url('../media/dict/font/iconfont.eot');
  src: url('../media/dict/font/iconfont.eot?#iefix') format('embedded-opentype'), url('../media/dict/font/iconfont.woff2') format('woff2'), url('../media/dict/font/iconfont.woff') format('woff'), url('../media/dict/font/iconfont.ttf') format('truetype'), url('../media/dict/font/iconfont.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  background: #f8f9fa;
  color: #495057;
  font-size: 16px;
}
a {
  text-decoration: none;
  color: #495057;
}
.sidebar {
  width: 22%;
  /*修改*/
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #f3f9fb;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
.sidebar .overlay {
  width: 100%;
  height: 180px;
  background: #fffbbe;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
}
.sidebar .top-container {
  text-align: center;
  padding: 48px 16px 20px 16px;
  margin-top: 70px;
  flex: 1;
  /*头像与签名*/
  /*文字内容*/
}
.sidebar .top-container .site-title {
  font-size: 36px;
  padding: 32px 0;
  color: #696969;
}
.sidebar .top-container .site-title p {
  font-size: 13px;
  margin-top: 15px;
  color: #696969;
  scroll-padding: 3px;
  letter-spacing: 1px;
}
.sidebar .top-container .top-header-container a > img {
  width: 112px;
  height: 112px;
  border: 3.6px solid #f3f9fb;
  border-radius: 50%;
}
.sidebar .top-container .top-header-nav {
  height: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sidebar .top-container .site-nav {
  /*导航*/
  width: auto;
  padding: 8px;
}
.sidebar .bottom-container {
  padding: 18px 16px;
  padding-bottom: 0px;
  color: #393e46;
  font-size: 10px;
}
.sidebar .bottom-container .site-description {
  padding: 16px 0;
}
.sidebar .bottom-container .site-description a {
  margin-left: 6px;
  color: #085f63;
}
.sidebar .bottom-container .site-description p {
  margin: 3px;
}
.sidebar .bottom-container .site-description p span {
  margin: 0 3px;
}
.main-container {
  margin-left: 22%;
  /*修改*/
}
.content-container {
  max-width: 1064px;
  margin: 0 auto;
  padding: 48px 32px;
}
/*Item*/
.post-item {
  width: 100%;
  height: 260px;
  display: flex;
  align-items: center;
  just-content: center;
  margin-top: 2em;
  margin-bottom: 3.5em;
  background: linear-gradient(90deg, #A6FFCB, #12D8FA, #1FA2FF);
  position: relative;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 25, 0.1), 0 5px 75px 1px rgba(0, 0, 50, 0.2);
  transition: all 0.8s;
  /*主内容*/
  /*背景*/
}
.post-item .post-con {
  width: 100%;
  position: relative;
  z-index: 10;
}
.post-item .post-con a {
  display: block;
}
.post-item .post-con .post-title {
  display: block;
  font-size: 1.5em;
  transition: all 0.3s;
  text-align: center;
  color: #fff;
  padding-bottom: 0.5em;
}
.post-item .post-con .post-title:hover {
  color: #f38181;
}
.post-item .post-con .post-info {
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #eeeeee;
}
.post-item .post-con .post-info span {
  padding: 0 5px;
}
.post-item .art-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.post-item .art-bg .feature-container {
  height: 100%;
  background-position: center;
  background-size: cover;
  filter: blur(0.5px);
  z-index: -10;
}
.post-item:hover {
  transform: scale(1.03, 1.03);
}
.post-item:after {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: '';
  background: rgba(0, 0, 0, 0.1);
}
.pagination-container {
  display: flex;
  justify-content: space-between;
}
.pagination-container .prev,
.pagination-container .next {
  display: inline-block;
  padding: 8px 16px;
  background: #000;
  color: #fff;
  border: 1px solid #f1f3f5;
  border-radius: 2px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 10px 75px 0 rgba(0, 0, 75, 0.125);
  transition: all 0.3s;
}
.pagination-container .prev:hover,
.pagination-container .next:hover {
  transform: translateY(-3px);
  border: 1px solid #dee2e6;
}
.post-detail {
  max-width: 850px;
  margin: 0 auto;
}
.post-detail .feature-container {
  padding-top: 56.25%;
  background-size: cover;
  background-position: center;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(0, 0, 25, 0.1), 0 5px 75px 1px rgba(0, 0, 50, 0.2);
  margin-bottom: 24px;
}
.post-detail .post-title {
  font-size: 40px;
}
.post-detail .post-date {
  font-size: 18px;
  padding: 24px 0;
  color: #adb5bd;
}
.post-detail .post-content svg {
  background: #2B3E50;
  margin: 16px;
}
.post-detail .post-content h1,
.post-detail .post-content h2,
.post-detail .post-content h3,
.post-detail .post-content h4,
.post-detail .post-content h5,
.post-detail .post-content h6 {
  margin: 16px 0;
  color: #343a40;
}
.post-detail .post-content h1 {
  font-size: 32px;
}
.post-detail .post-content h2 {
  font-size: 26px;
  color: #737373;
}
.post-detail .post-content h2:before {
  content: '[';
  color: #ff6d6d;
  margin-right: 5px;
  font-size: 36px;
  line-height: 36px;
}
.post-detail .post-content h2:after {
  content: ']';
  color: #ff6d6d;
  margin-left: 5px;
  font-size: 25px;
  line-height: 25px;
}
.post-detail .post-content h3,
.post-detail .post-content h4,
.post-detail .post-content h5 {
  border-radius: 3px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.06);
  font-size: 18px;
  font-weight: normal;
  color: #737373;
  padding: 22px 44px;
  background: #FFF6B5;
  position: relative;
}
.post-detail .post-content h3 {
  background: #e7eaf6;
  position: relative;
}
.post-detail .post-content h3::before {
  content: "\e62c";
  display: inline-block;
  font-size: 22px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
}
.post-detail .post-content h4:before {
  content: "\e62e";
  display: inline-block;
  font-size: 22px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
}
.post-detail .post-content h5 {
  background: #15cda8;
  color: #fff;
}
.post-detail .post-content h5:before {
  content: "\e69e";
  display: inline-block;
  font-size: 22px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
}
.post-detail .post-content hr {
  width: 80%;
  height: 3px;
  background: #302387;
  margin: auto;
}
.post-detail .post-content a {
  color: #4c6ef5;
  border-bottom: 1px dotted #4c6ef5;
  transition: all 0.3s;
}
.post-detail .post-content a:hover {
  color: #3b5bdb;
  border-bottom: 1px dotted #3b5bdb;
}
.post-detail .post-content img {
  display: block;
  box-shadow: 0 2px 5px rgba(0, 0, 25, 0.1), 0 5px 75px 1px rgba(0, 0, 50, 0.2);
  max-width: 100%;
  border-radius: 2px;
  margin: 24px auto;
}
.post-detail .post-content p {
  line-height: 1.725;
  margin-bottom: 24px;
  font-size: 18px;
  color: #495057;
}
.post-detail .post-content p code {
  padding: 0 3px;
  margin: 0 2px;
  background: #2B3E50;
  /*颜色*/
  font-size: 0.9em;
  border-radius: 2px;
  display: inline-block;
  line-height: 1.5;
  color: #fff;
}
.post-detail .post-content blockquote {
  background: #e9ecef;
  padding: 16px;
  border-left: 3px solid #7048e8;
  border-radius: 2px;
  margin-bottom: 16px;
}
.post-detail .post-content blockquote p {
  color: #868e96;
  margin-bottom: 0;
}
.post-detail .post-content pre {
  margin-bottom: 16px;
  background: #2B3E50;
  overflow: hidden;
}
.post-detail .post-content pre code {
  font-family: 'Source Code Pro', Consolas, Menlo, Monaco, 'Courier New', monospace;
  padding: 1em 1em 1em;
  border-radius: 5px;
  line-height: 1.375;
  position: relative;
  background: #2B3E50;
  color: #f1f3f5;
  display: block;
}
.post-detail .post-content pre code:after {
  display: block;
  position: absolute;
  left: 8px;
  top: 4px;
  font-size: 14px;
  font-weight: bold;
  color: #495057;
}
.post-detail .post-content table {
  border-collapse: collapse;
  margin: 1rem 0;
  display: block;
  overflow-x: auto;
}
.post-detail .post-content tr {
  border-top: 1px solid #dfe2e5;
}
.post-detail .post-content td,
.post-detail .post-content th {
  border: 1px solid #dfe2e5;
  padding: 0.6em 1em;
}
.post-detail .post-content ul,
.post-detail .post-content ol {
  color: var(--c-base-blacklight);
  padding-left: 24px;
  line-height: 1.725;
  margin-bottom: 16px;
}
.post-detail .post-content strong {
  color: #f30067;
  font-weight: bolder;
}
.post-detail .post-content em {
  color: #868e96;
}
.tag {
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  border-radius: 16px;
  background: #e9ecef;
  color: #868e96;
  margin: 16px 16px 16px 0;
  transition: all 0.3s;
}
.tag:hover {
  background: #dee2e6;
  color: #495057;
  transform: translateY(-3px);
}
.next-post {
  border-top: 1px solid #ced4da;
  border-bottom: 1px solid #ced4da;
  padding: 24px 0;
  margin: 32px 0;
}
.next-post .post-title {
  font-size: 24px;
}
.next-post .next {
  color: #ced4da;
  margin-bottom: 16px;
}
.archives-title,
.tag-list-title,
.current-tag {
  color: #495057;
  padding-bottom: 48px;
  font-size: 32px;
}
/*文章归档*/
.archives-container {
  color: #333;
  padding-bottom: 32px;
}
.archives-container .year {
  font-size: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #ced4da;
  margin: 16px 0;
}
.archives-container .post {
  /*List*/
  padding: 8px 0;
  color: #333;
}
.archives-container .post .post-title {
  display: block;
  border-radius: 5px;
  padding: 7px 10px;
  font-size: 18px;
  transition: all 0.3s;
}
.archives-container .post .post-title span {
  color: #305f72;
  font-size: 16px;
  margin-right: 20px;
}
.archives-container .post .post-title:hover {
  background: #e8e8e8;
}
@media (max-width: 800px) {
  .sidebar {
    position: relative;
    width: 100%;
    box-shadow: none;
  }
  .sidebar .overlay {
    display: none;
  }
  .sidebar .top-container {
    margin: 0;
    padding: 24px 16px;
  }
  .sidebar .top-header-container a > img {
    display: none;
  }
  .sidebar .top-header-nav {
    flex-direction: row !important;
  }
  .sidebar .bottom-container {
    /*尾巴*/
    display: none;
  }
  footer {
    display: block;
  }
  .main-container {
    margin-left: 0;
  }
  .content-container {
    padding: 32px 16px;
  }
  .top-header-nav {
    padding-top: 50px;
  }
  .post-item {
    height: 150px;
  }
  .post-item .art-bg {
    width: 100%;
  }
  .post-item .post-con {
    width: 100%;
    padding: 0;
  }
  .post-item .post-con .post-date {
    font-size: 16px;
    padding: 16px 0;
  }
  .post-item .post-con .post-abstract {
    font-size: 16px;
  }
  .pagination-container {
    padding: 0;
  }
  .pagination-container .prev:hover,
  .pagination-container .next:hover {
    transform: translateY(0px);
  }
  .post-detail .post-title {
    font-size: 28px;
  }
  .post-detail .post-date {
    font-size: 16px;
    padding: 16px 0;
  }
  .post-detail .feature-container {
    margin-bottom: 16px;
  }
  .post-detail .post-content p {
    font-size: 16px;
  }
  .next-post {
    margin: 24px 0;
    padding: 16px 0;
  }
  .archives-title,
  .tag-list-title,
  .current-tag {
    font-size: 28px;
    padding-bottom: 32px;
  }
  .tag {
    margin: 8px 8px 8px 0;
  }
  .tag:hover {
    transform: translateY(0px);
  }
}
.social-container .social-link {
  color: #dee2e6;
  font-size: 16px;
  margin: 4px 8px;
}
/***********

************/
.site-description p {
  text-align: center;
  margin-top: 8px;
  line-height: 10px;
}
.bottom-container {
  padding-bottom: 0;
}
